<h1 style="color: brown;"  class="heading">Hello, {{title}}</h1>
<style>
    .heading{
        color:blue;
    }
</style>
<h2>Data is: {{data}}</h2>
<h3>{{getValue()}}</h3>
<h3>{{title==="blog"}}</h3>
<!-- <h3>{{title="hello"}}</h3> -->
<!-- <h3>{{typeof title}}</h3>  -->
<app-user-list></app-user-list>
<app-user-list2></app-user-list2>
<app-student-list></app-student-list>
<app-country-list></app-country-list>
<button (click)="getName('sandeep','btech')">Call Name function</button>
<br>
<br>
<button (click)="getData('using button')">Warning console function</button>
<br>
<br>
<input #box (keyup)="getData(box.value)"    placeholder="testing keyup" >
<input #box1 (keydown)="getData(box1.value)"    placeholder="testing keydown" >
<input #box2 (blur)="getData(box2.value)"    placeholder="testing blur" >
<input #box3 (input)="getData(box3.value)"    placeholder="testing input" >

<h1 (mouseover)="getAnswer('mouseover')" style="background-color: bisque;">Test mouseover</h1>
<h1 (mouseleave)="getAnswer('mouseleave')" style="background-color: greenyellow;">Test mouseleave</h1>
<p>------------------------------------------</p>
<h1>Get Input Box value</h1>
<input #box4 type="text" placeholder="enter name"  name="name" (keyup)="getPrint(box4.value,'inputbox')"/>
<h2>{{getPrintVar}}</h2>
<p>------------------------------------------</p>
<h1>Get Input Box value with button</h1>
<input #box5 type="text" placeholder="enter name"  name="name1" />
<button (click)="getPrint(box5.value,'button')">Print Below</button>
<h2>{{getPrintVarButton}}</h2>

<p>Counter:</p>
<button (click)="setCounter('up')">+</button>
<p>{{counter}}</p>
<button (click)="setCounter('down')">-</button>
<p>------------------------------------------</p>
<p>Difference Between Interpolation and Property Binding:</p>
<input type="text" placeholder="Interpolation" value={{name}} disabled={{disable}}>
<br>
<br>
<input type="text" placeholder="Property Binding" [value]=name [disabled]=disable  />
<p>------------------------------------------</p>
<p>If else:</p>
<button (click)="ifElseSwitch()">Switch</button>
<h1 *ngIf="show==true then ifblock else elseblock"></h1>

<ng-template #ifblock>
    <h2>This is if condition</h2>
</ng-template>

<ng-template #elseblock>
<h1>This is else condtion</h1>
</ng-template>

<input placeholder="Will show for only If" [hidden]="!show" />

<p>------------------------------------------</p>
<p>Multiple condition If else:</p>
<ng-template [ngIf]="color==='red'">
<h1>This is the condition when color is red</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
<h1>This is the condition when color is green</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
    <h1>This is the condition when color is blue</h1>
</ng-template>