/* You can add global styles to this file, and also import other style files */
.heading{
    color: grey;
    background-color: lightblue;
}
body{
    margin: 0;
    background-color: lightgoldenrodyellow;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the pseudo-element below the content */
  
    /* Background image and blur effect */
    background-image: url('./assets/bgflower2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px);
  
    /* Adjust opacity for a more subtle effect if needed */
    opacity: 0.8;
  }